{% extends "base.html" %}
{% block title %}
  <title>Об авторе проекта</title>
{% endblock %}
{% load static %}  
{% block content %}
  <h1>Привет, я автор</h1>
  <p>
    Тут я размещу информацию о себе:
  </p>
  <li>
    Автор: Шарапов Вячеслав Юрьевич
  </li>
  <li>
    О себе: Много чего интересного... Но не скажу :)
  </li>
  <li>
    Фото
  </li>
  <div sizes=250*250>
    <img src="{% static 'img\cheburashka.png' %}">
    <p>Не нашлось под рукой фотки, зато попался прикольный Чебурах!!</p>
  </div>
{% endblock %} 