{% extends 'base.html' %}
  {% block title %} 
    <title>
      Профайл пользователя {{ author.get_full_name }} 
    </title>
  {% endblock %} 

  {% block content %}       
    <h1>Все посты пользователя {{ author.get_full_name }} </h1>
    <h3>Всего постов: {{ author.posts.count }} </h3>
    <h3>Всего подписчиков у автора: {{ author.following.count }} </h3>
    <p>Всего у пользователя подписок: {{ user.follower.count }} </p>
    {% if user.is_authenticated and user != author %}
      {% if following %}
        <a
          class="btn btn-lg btn-light"
          href="{% url 'posts:profile_unfollow' author.username %}" role="button"
        >
          Отписаться
        </a>
      {% else %}
        <a
          class="btn btn-lg btn-primary"
          href="{% url 'posts:profile_follow' author.username %}" role="button"
        >
          Подписаться
        </a>
      {% endif %}
    {% endif %}
    {% for post in page_obj %}  
      {% include 'posts/includes/post_list.html' %} 
    {% endfor %}  
  {% endblock %}